<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Ramblin Techs
    </title>
    {{! <link rel="stylesheet" type="text/css" href="/css/jass.css" /> }}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <header class="p-3 pb-0">
      <h1>
        Ramblin' Techs
      </h1>
      <nav id="main-nav">
        <a href="/">
          Home
        </a>
        {{#if loggedIn}}
          <a href="/dashboard/{{userId}}">
            Dashboard
          </a>
          <button id="logout" class="btn-no-style">
            Logout
          </button>
        {{else}}
          <a href="/login">
            Dashboard
          </a>
          <a href="/login">
            Login
          </a>
        {{/if}}
      </nav>
    </header>

    <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous"
    ></script>
    <main class="p-3">
      {{{body}}}
    </main>

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
    <div
      class="modal fade"
      id="newBlogModal"
      tabindex="-1"
      aria-labelledby="newBlogModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newBlogModalLabel">
              New Blogpost
            </h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="new-blog-title" class="col-form-label">
                  Title:
                </label>
                <input type="text" class="form-control" id="new-blog-title" />
              </div>
              <div class="mb-3">
                <label for="new-blog-content" class="col-form-label">
                  Content:
                </label>
                <textarea rows="10" class="form-control" id="new-blog-content"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn blog-btn"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button id='create-blog' type="button" class="btn blog-btn">
              Create Blogpost
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex container-fluid justify-content-center">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header justify-content-between">
        <strong class="mr-auto">Uh-oh!</strong>
        <button type="button" class="ml-2 mb-1 close" data-bs-dismiss="toast" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
</div>
    <script src="/js/main.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
  </body>
</html>