{{#with userData}}
  {{> profile userId=../userId}}

<div class="edit-col justify-self-end col pe-2">
  <div class="text-end">
    {{#if (check_id id ../userId)}}
    <i id="edit-icon" class="bi bi-pencil-square"></i>
    {{/if}}
  </div>
</div>
</div>
<div class="m-3 p-3 justify-content-center row">
  <hr />
  <h2 class="text-center">Blog Posts</h2>
  {{#if (check_id id ../userId)}}
  <button type="button" id="create-post" data-bs-toggle="modal" data-bs-target="#newBlogModal"
    class="w-25 mb-3 btn blog-btn">New Post</button>
  {{/if}}
  {{#each blogs as |blog|}}
    {{> blogs userId=../../userId}}
  {{/each}}
</div>
</div>
{{#if (check_id id ../userId)}}
<script src="/js/dashboard.js"></script>
{{/if}}
{{/with}}
