<!-- We are tracking the number of times we visit this homepage -->

<div class="container-fluid">
  {{log 'userId' userId}}
  {{#each blogs as |blog|}}
    {{> blogs userId=../userId}}
  {{/each}}
</div>