<!-- We are tracking the number of times we visit this homepage -->
  <div class="container w-50 flex-column justify-content-center align-items-center">

<div class="container">
{{#each blogs as |blog|}}
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{blog.title}}</h5>
      <p class="card-text">{{blog.content}}</p>
      <a href="/blogs/{{blog.id}}" class="btn btn-primary">Read More</a>
    </div>
    </div>
{{/each}}