:root {
  --primary: #26c6da;
  --secondary: #000000;
  --tertiary: #8a9597;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --transparent: rgba(0, 0, 0, 0.8);
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--primary);
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b9a21791534383.5e341720a5140.jpg");
  background-size: cover;
}

header {
  text-align: start;
  color: white;
  background-color: var(--transparent);
}

/* main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
} */

#main-nav {
  display: flex;
  /* background-color: #3d48df */
}

#main-nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

#main-nav a:hover {
  background-color: #168c9c;
}

aside {
  flex: 0;
  background-color: var(--tertiary);
  padding: 80px;
  text-align: left;
  color: var(--light);
}

.tab-content {
  border-left: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
  border-radius: 0px 0px 7px 7px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-tabs {
  margin-bottom: 0;
  border-bottom: 1px solid var(--primary);
}

.nav-tabs .nav-link.active {
  text-decoration: none;
  background-color: var(--transparent);
  border: 1px solid var(--primary);
  color: white;
}

.nav-tabs .nav-link {
  text-decoration: none;
  color: white;
}

.profile-label {
  width: 75px;
}

.form-edit {
  justify-content: end;
}

.profile-input {
  border-bottom: 1px solid var(--primary);
  width: 300px;
  transition: 0.2s all ease-in-out;
}

.profile-input:disabled {
  color: white;
}

#profile-buttons {
  transition: 2s all ease-in-out;
  margin-left: 75px;
}
#profile-buttons button {
  width: 150px;
}

#profile-bio {
  resize: none;
}


#profile-bio:disabled {
  border-bottom: none;
}

.col-form-label {
  width: 85px;
}

i {
  transition: 0.2s all ease-in-out;
}

#profile-pic {
  cursor: pointer;
  width: 250px;
  display: block;
}
#profile-image {
  transition: 0.2s all ease-in-out;
}

.login-container {
  height: 75vh;
}

.hover{
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  opacity: 0.75;
}




.blogpost,
.comments-card,
#prof-container,
.modal-content,
.toast,.toast-header {
  background-color: var(--transparent);
  border-radius: var(--border-radius);
  border-color: var(--primary);
  color: white;
}

.toast-header{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.blog-hr {
  border-color: var(--primary);
}

.blog-img,
.comment-img {
  width: 35px;
  padding-top: 10px;
}

.comment-img {
  display: block;
}

a {
  text-decoration: none;
}

.blog-img + p {
  display: inline;
}

.blog-btn {
  border-color: var(--primary);
  color: white;
}

.blog-btn:hover {
  background-color: var(--primary);
  color: white;
}

.comment-user {
  width: 100px;
}

.modal-header {
  border-bottom: 1px solid var(--primary);
}

.modal-footer {
  border-top: 1px solid var(--primary);
}

.dash-img-col {
  width: 100px;
}
.blog-title {
  margin-top: 20px;
}

.blog-title,
.blog-content {
  color: white;
  resize: none;
}
.blog-title:not(:disabled),
.blog-content:not(:disabled) {
  color: black;
  resize: vertical;
}

.blog-content:not(:disabled) {
  width: 99%;
}

.container textarea{
  box-sizing: border-box;
  height: 100%
}

.modal-content {
  height: 70vh;
  min-height: 570px
}

#new-blog-content{
  resize: none;
  transition: .2s all ease-in-out;
}

.toast{
  position: absolute;
  top: 10vh;
  ;
}
/* .blog-edit-icon{
} */

@media screen and (min-width: 1000px) {
  #profile-image {
    width: 20%;
  }
}

  @media screen and (min-width: 1600px) {
    #profile-image {
      width: 13%;
    }
  }

  @media screen and (min-width: 2350px) {
    #profile-image {
      width: 10%;
    }
  }

  @media screen and (min-height: 900px){
    #new-blog-content {
      height: 20em
    }
  }

    @media screen and (min-height: 1200px){
    #new-blog-content {
      height: 30em
    }
  }

